
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", serif;
  font-style: normal;
  
}


/*Common Style*/
.section-heading{
Font-weight: 700;
Font-size: 38px;
text-align: left;
line-height:38px; 
}

.primary-btn{
border-radius: 6px;
font-weight: 600;
padding: 14px 30px;
transition: .3s;
}
.primary-btn:hover{
  background-color: rgb(36, 129, 51);
}

.para-description{
color: rgba(14, 14, 14, 0.7);
font-size: 14px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
}

/*Header section style*/
.navbar{
display: flex;
justify-content: space-around;
padding: 30px;
align-items: center;
}

.logo-btn {
border: 1px solid rgb(0, 106, 80);
font-size: 14px;
}

/*Banner section style*/
.banner{
  display: flex;
  justify-content: center;
  align-items: center;

}

.banner-container{
  width: 80%;
  max-height: 70vh;
  border-radius: 24px;
  background: rgb(198, 228, 214);
  display: flex;
  padding: 60px;
  margin: auto;
  margin-bottom: 64px;
  justify-content: space-between;

}
.banner-text{
  width: 50%;
  margin: 51px;
}
.banner-text p{
color: rgba(14, 14, 14, 0.5);
font-size: 19px;
font-weight: 500;
text-align: left;
margin-bottom: 20px;
}

.banner-text h1{
  color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 44px;
font-weight: 700;
line-height: 53px;
margin-bottom: 20px;
}


.banner-image{
  width: 45%;
  background-image: url(assets/hero.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.banner-btn {
background: rgb(0, 106, 80);
color: white;
border: none;
}

/*Pillar's of Bangladesh*/

.pillars-of-bd{
  max-width: 80%;
  margin: auto;

}
.pillars-of-bd h2{
  margin-bottom: 25px;
  margin-top: 64px;
}

.card-container{
  display: flex;
  justify-content: space-between;
  padding:20px 0;
 
}
.card-box-1{
background-color: rgb(245, 243, 243);
width: 290px;
border: 1px solid rgba(14, 14, 14, 0.15);
padding: 20px;
border-radius: 10px;
}

.card-box-1 img{
width: 46px;
height: 57px;
margin-bottom: 20px;
}

.card-box-1 h4{
  Font-weight: 700;
  line-height:19px;
}


/*Vishion Section Style*/

.vishion{
  width: 80%;
padding: 20px;
}


.vision-box-1{
  width: 390px;
  height: 325px;
  padding:40px ;
  background-color: rgba(120, 155, 215, 0.2);
  margin-right: 25px;
  border-radius: 10px;
  border: none;
}

.vision-box-1 button{
  font-size: 12px;
   margin: auto;
   padding: 8px 16px;
   display: block;
   display: inline-block;
   margin-top: 30px;
   background-color: rgb(84, 144, 245);
   border: none;
 
}

.vision-box-2{
  width: 390px;
  height: 325px;
  padding:40px ;
  background-color: rgb(232, 206, 150);
  margin-right: 25px;
  border-radius: 10px;
  border: none;
}


.vision-box-2 button{
  font-size: 12px;
   margin: auto;
   padding: 8px 16px;
   display: block;
   display: inline-block;
   margin-top: 55px;
   background-color: rgb(202, 152, 77);
   border: none;
}

.vision-box-3{
  width: 390px;
  height: 325px;
  padding:40px ;
  background-color: rgb(148, 255, 166);
  margin-right: 20px;
  border-radius: 10px;
  border: none;
}

.vision-box-3 button{
  font-size: 12px;
   margin: auto;
   padding: 8px 16px;
   display: block;
   display: inline-block;
   margin-top: 30px;
   background-color: rgb(68, 155, 82);
   border: none;
}

/*Quote of Dr.Y section style*/
.quotation{
  background-color: rgb(247, 240, 240);

  width: 80%;
  display: flex;
  justify-self: center;
  align-items: center;
  padding: 20px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 8px;
  margin-bottom: 64px;

}

.dr-y{
  width: 100%;
  margin: auto;
  background-image: url(assets/quote-bg.png);
  background-position: top left;
  background-repeat: no-repeat;
 
}
.dr-y p{
  padding-top: 40px;
}
.dr-y h5{
  Font-weight: 600;
  Font-size: 16px;
  margin-top: 10px;
}

/*Opinion Section*/
.opinion-section{
  width: 80%;
  margin: auto;
  margin-bottom: 64px;
 
}
.opinion-section table{
  width: 100%;
  margin-top: 40px;
  border-collapse: collapse;
}

.opinion-section th{
  border: none;
  text-align: left;
  padding: 10px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: rgb(198, 228, 214);
  margin-left: 10px;
  color: rgb(14, 14, 14);
  font-size: 16px;
  font-weight: 600;

}

.opinion-section td{
  border: 1px solid black;
  background-color:white;
  padding-left:10px ;
}

.change{
  width: 15%;
  text-align: center;
  padding: 10px 15px;
}
table .material-symbols-outlined{
  font-size: 14px;
  margin-top: 5px;
}

/*Recent News Section Style*/

.recent{
  width: 80%;
  margin: auto;
}
.recent-1{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 38px;
  align-items: start;
  gap: 25px;
  background-color: rgb(243, 246, 248);
  border-radius: 8px;
  margin: 25px 0;
}

.satellite{
  width: 326px;
  border-radius: 8px;

}
.recent-text h3{
  color: rgba(14, 14, 14, 0.8);
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  margin-bottom: 10px;
}

.recent-text img{
  width: 107px;
}

.recent-text span{
  margin-left: 5px;
}
.recent-text p{
  margin-bottom: 10px;
}
.recent-text button{
  font-size: 12px;
  margin: auto;
  padding: 8px 16px;
  display: block;
  display: inline-block;
  background-color: rgb(103, 216, 122);
  border: none;
  margin-top: 20px;
}

/*Donate Today Section*/
.donate{
  width: 80%;
  margin: auto;
  margin-top: 64px;
  padding: 30px;
}

.donate h2{
  text-align: center;
  
}
.donate p{
  text-align: center;
  padding: 10px;
}

.donation-options{
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin: auto;
  margin-top: 20px;
}
.donation-options button{
  color: rgba(14, 14, 14, 0.8);
font-size: 32px;
font-weight: 700;
line-height: 38px;
text-align: center;
padding: 18px 25px;
border-radius: 10px;
border: none;
}

.active{
  background-color: rgb(198, 228, 214);
}
.donate form{
  width: 65%;
  margin: auto;
  margin-top: 25px;
}

.donate form input{
  width: 100%;
  padding: 10px;
  background-color: rgb(237, 231, 231);
  border: none;
  margin-bottom: 10px;

color: rgba(14, 14, 14, 0.3);
font-size: 19px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
border-radius: 5px;
}

.submit-now{
  font-size: 12px;
  margin: auto;
  padding: 8px 16px;
  display: block;
  background-color: rgb(103, 216, 122);
  border: none;
  text-align: center;
}

/*Subscribe Newsletter Section*/
.subscriber{
  width: 80%;
  border-radius: 24px;
  background: rgb(198, 228, 214);
  height: 316px;
  margin: auto;
}
